ipykernel
langchain
langchain_community
pypdf
python-dotenv
langchain_openai
openai
chromadb
langchain_core
sentence_transformers
langchain_huggingface
certifi
pip_system_certs
faiss-cpu
langchain_chroma
bs4
streamlit
langchain_groq
httpx
wikipedia
arxiv
duckduckgo-search
validators==0.28.1
youtube_transcript_api
pytube
unstructured
